

@font-face {
  font-family: "Rubik Light";
  src: local("Rubik-Light"),
    url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}


@font-face {
  font-family: "Rubik Regular";
  src: local("Rubik-Regular"),
    url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik Medium";
  src: local("Rubik-Medium"),
    url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}
